.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
}

#save {
  margin-top: 10px;
}

#result {
  color: blue;
}

/* Tabela vendas */

table{
  border: 2px solid black;
  margin-top: 10px;
}
tr, td, th{
  border: 1px solid black;
  padding: 2px;
}
