<div class="container">
  <h1 id="formTitulo">Cadastro de Categoria</h1>
  <form id="form">
    <label for="name">Nome</label>
    <input name="name" id="name" type="text">
    <span id="result"></span>
    <button id="save">Salvar</button>
  </form>
  <a href="/admin/categories/">Lista de categorias</a>
</div>

<script src="/javascripts/submitCategory.js"></script>
<link rel="stylesheet" href="/stylesheets/productForm.css">
