<aside class="main-aside">
  <ul class="main-menu">
    <li class="dropdown-item">
      <a>
        Produtos
        <img
          src="/images/arrow-down.svg"
          class="dropdown-item__arrow"
          width="20"
        />
      </a>
      <ul class="dropdown-item__sub-menu">
        <li>
          <a href="/admin/products/">Listar</a>
        </li>
        <li>
          <a href="/admin/products/new">Cadastrar</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Usuários</a>
    </li>
    <li>
      <a href="#">Descontos</a>
    </li>
    <li class="dropdown-item">
      <a>
        Categorias
        <img src="/images/arrow-down.svg" class="dropdown-item__arrow" width="20" />
      </a>
      <ul class="dropdown-item__sub-menu">
        <li>
          <a href="/admin/categories/">Listar</a>
        </li>
        <li>
          <a href="/admin/categories/new">Cadastrar</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<link rel="stylesheet" href="/stylesheets/aside.css">
<script src="/javascripts/aside.js"></script>
