<aside class="main-aside">
  <ul class="main-menu">
    <li>
      <a href="#">
        Produtos
        <img src="/images/arrow-down.svg" width="20" />
      </a>
    </li>
    <li>
      <a href="#">Usuários</a>
    </li>
    <li>
      <a href="#">Descontos</a>
    </li>
    <li>
      <a href="#">Categorias</a>
    </li>
  </ul>
</aside>
