<header class="main-header">
  <div class="menu-icon-wrapper">
    <img src="/images//menu-hamburguer.svg" width="40">
  </div>
  <div class="links">
    <a href="#">Carlos</a>
    <a id="logout" href="/login">Sair</a>
  </div>
</header>

<script>
  const logoutLink = document.querySelector('#logout')

  logoutLink.addEventListener('click', () => {
    localStorage.clear()
  })
</script>

<link rel="stylesheet" href="/stylesheets/style.css">
