<header class="main-header">
  <div class="menu-icon-wrapper">
    <img src="/images//menu-hamburguer.svg" width="40">
  </div>
  <div class="links">
    <a href="#">Carlos</a>
    <a href="#">Sair</a>
  </div>
</header>

<link rel="stylesheet" href="/stylesheets/style.css">
