<h1>Editar Item</h1>
<form id="formEdit">
  <label for="name">Nome</label>
  <input id="name" name="name" ame="name" type="text" value="<%=item.name%>">
  <label for="price">Preço</label>
  <input id="price" name="price" type="text" value="<%=item.price%>">
  <input type="hidden" name="id" value="<%= item.id %>">
  <button>Editar</button>
</form>

<script src="/javascripts/editProduct.js"></script>
