<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="container-main">
  <%- include('../_partials/aside') %>
  <div class="main-section">
    <div class="header">
      <%- include('../_partials/header') %>
    </div>
    <main class="form-container">
      <form id="form" class="space-y-4">
        <h1>Novo Item</h1>
        <div class="container-flex-inputs">
          <label for="name">Nome</label>
          <input name="name" type="text" />
        </div>
        <div class="container-flex-inputs">
          <label for="price">Preço</label>
          <input name="price" type="text" />
          <span id="error-price" class="invisible">erro</span>
        </div>
        <div class="container-flex-inputs">
          <label for="category">Categoria</label>
          <select name="category[]" id="category" class="category">
          </select>
          <span id="error-category" class="invisible">erro</span>
        </div>
        <div id="result"></div>
        <button id="submit-button" type="submit">Salvar</button>
      </form>
    </main>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/form.css" />

<script>
$(document).ready(function() {
  $('.category').select2({
    placeholder: 'Selecione Categoria',
    debugger: true,
    multiple: true,
    ajax: {
      url:'http://localhost:3000/api/categories',
      type: 'GET',
      dataType: 'JSON',
      processResults: function(data) {
        console.log(data)
        return {
          results: data.categories.map(({ id, name }) => ({ id, text: name }))
        }
      }
    },
  })
})
</script>


<script src="/javascripts/submitProduct.js"></script>
