<div class="container-main">
  <%- include('../_partials/aside') %>
  <div class="main-section">
    <div class="header">
      <%- include('../_partials/header') %>
    </div>
    <main class="form-container">
      <form id="form" class="space-y-4">
        <h1>Novo Item</h1>
        <div class="container-flex-inputs">
          <label for="name">Nome</label>
          <input id="name" type="text" />
        </div>
        <div class="container-flex-inputs">
          <label for="price">Preço</label>
          <input id="price" type="text" />
          <span id="error-price" class="invisible">erro</span>
        </div>
        <button id="submit-button" type="submit">Salvar</button>
      </form>
    </main>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/form.css" />
<script src="/javascripts/submitProduct.js"></script>
<link rel="stylesheet" href="/stylesheets/productForm.css">
