<h1>Novo Item</h1>
<form id="form">
  <label for="name">Nome</label>
  <input id="name" type="text">
  <label for="price">Preço</label>
  <input id="price" type="text">
  <button>Salvar</button>
</form>

<script src="/javascripts/submitProduct.js"></script>
