<h1>Produtos</h1>
<ul>
  <% for (let i = 0; i < products.length;  i++) { %>
    <li>
      <%= products[i].name %>
      <button id="<%= products[i].id %>" class="buttonDelete" >Deletar</button>
    </li>
  <% } %>
</ul>

<a href="/admin/products/new">Cadastrar novo produto</a>

<script src="/javascripts/deleteProduct.js"></script>
