<h1>Produtos</h1>
<ul>
  <% for (let i=0; i < products.length; i++) { %>
    <li>
      <%= products[i].name %>
        <a href="/admin/products/<%= products[i].id%>/edit">editar</a>
    </li>
    <% } %>
</ul>

<a href="/admin/products/new">Cadastrar novo produto</a>
